/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #16161E;
    background-alt: #16161E;
    foreground:     #f7768e;
    selected:       #bb9af7;
    active:         #2ac3deFF;
    urgent:         #2ac3deFF;
}
