.Leader {
  stroke-width: 0.5 !important;
  stroke: #2ac3de;
  fill: none !important;
}

.Button {
  stroke-width: 0.25;
  stroke: #bb9af7;
  fill: #bb9af7;
}

.Ring {
  stroke-width: 0.5 !important;
  stroke: #2ac3de !important;
  fill: none !important;
}

.Label {
  stroke: none !important;
  stroke-width: 0.1 !important;
  font-size: 0.1 !important;
  fill: transparent !important;
}

.TouchStrip,
.TouchRing {
  stroke-width: 0.1 !important;
  stroke: #bb9af7 !important;
  fill: #2ac3de !important;
}
