/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #16161E;
    background-alt: #16161E;
    foreground:     #2ac3de;
    selected:       #bb9af7;
    active:         #f7768eFF;
    urgent:         #f7768eFF;
}
